body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	overflow-x: hidden;
	line-height: 1.6;
	
}

.top-mini-bar
{
	opacity: .4;
  	position: fixed;
	top: 0;	
	width: 100%;
	max-width: 100%;
	height: 6vh;
	z-index: 10;
	background: blue;

	

}

.mini-bar-content 
{	
	width: 100%;
	height: 6vh;
	color: white;
	display: flex;
	z-index: 11;
	right: 8%;
	position: relative;
	justify-content: flex-end;
	align-items: center;
	font-weight: bold;
	font-size: 14px;
	
}

.mini-bar-content img 
{
	
	height: 16px;
	width: 16px;
	
}	

.social-media
{
	
}


.email-address
{
	margin-left: 8px;
}

.email-icon
{
	margin-left: 18px;
}

.phone-number
{
	margin-left: 8px;
}

.phone-icon
{
	margin-left: 18px;
}

.section1 
{
	position: relative;
	width: 100%;
	height: 80vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	align-content: center;
		
}

.logo 
{
	height: 8%;
	z-index: 25;
	width: 50%;
	positions: relative;
	
}

.logo img
{

	position: relative;
	height: 70px;
	
}




.nav-container 
{
	
	display: flex;	
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 222;
	width: 100%;
	height: 10%;
	

	
	
}

.nav
{
	
	display: flex;
	position: sticky;
	top: 0;
	max-width: 50%;
	height: 10%;
	justify-content: center;
	z-index: 20;
	gap: 1.8em;
	align-items: center;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.nav
{
	text-size: 14px;
}

.curved-header
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	background: linear-gradient(45deg,blue,purple);
	border-radius: 0 0 50% 50%/0 0 100% 100%;
	transform: scaleX(2.5);
	
}


.section1-content-left
{
	position: relative;
	z-index: 1;
	padding: 0 15% 0 15%;
	bottom: 20px;
	left: 47px;

	

}

.section1-content-left h2
{
	line-height: 1.2;
}


.section1-content-left p
{
	position: relative;
	top: 10px;
	line-height: 1.6;
	
	
}

.section1-content-left button
{
	position: relative;
	top: 20px;
	background-color: white;
	padding: 11px 37px 11px 37px;
	border: none;
	font-size: .75em;
	color: blue;
	font-weight: bold;
	border-radius: 30px;
}


.section1-content-right
{
	position: relative;
	z-index: 1;
	width: 50vw;
	height: 70vh;
	right: 0;
	margin-right: -90px;
	

}
	
.section1-content-right img
{
	position: relative;
	width: 50vw;
	height: 70vh;
	top: 30px;
	right: 0;	
}


	
.section1-content-left  h2
{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 2.5em
}

.section1-content-left p
{
	color: #fff;
	font-size: 1.2em
}

.section2
{
	position: relative;
	background: #F7F9FC;
	top: 10px;
	z-index: -1;
	width: 100%;
	height: 115vh;

}
	
.section2-content
{	
	position: relative;
	bottom: 8%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 40vh 40vh 40vh;
	justify-content: center;
	height: 100%;
	gap: 3%;
	padding: 8%;
	justify-items: center;
	align-items: center;
	text-align: center;
	grid-template-areas: 
				"blank1 header blank2"
				"content1 content2 content3"
	
	
	
}
	
.sc2-item1
{
	grid-area: header;
	align-self: end;
	width: 110%;
}



.sc2-item2
{
	grid-area: content1;
	align-self: start;
	
	
}

.sc2-item3
{
	grid-area: content2;
	align-self: start;
	
	
}

.sc2-item4
{
	grid-area: content3;
	align-self: start;
	
	
}

.section2 img
{
	height: 10%;
	width: 10%;
}

.section2 p
{
	color: grey;
}

.section3
{
	height: 195vh;
	position: relative;
}

.section2-5
{
	background: white;
	height: 28%;
	width: 90%;
	z-index: 34444;
	margin: auto;
	display: flex;
	align-items: center;
	position: relative;
	top: -22vh;
	filter: drop-shadow(0 0 4px #d3d3d3);
	
}

.section2-5 h2
{
	margin: 0px;
}
	
.section2-5-container
{
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

}

.section2-5-left
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 50%;
	padding: 5%;
	height: 75%;
	
}

.section2-5-right
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
}

.section2-5-left button
{
	position: relative;
	background-color: blue;
	padding: 11px 37px 11px 37px;
	border: none;
	font-size: .75em;
	color: white;
	font-weight: bold;
	border-radius: 30px;
	align-self: flex-start;
}

.section2-5-right img
{	
	max-width: 100%;
}

.section3-content
{
	z-index: 1000
	height: 70vh;
	position: relative;
	bottom: 85px;
	display: flex;
	width: 90%;
	margin: auto;
	justify-content: center;
	align-items: center;
	
}

.section3-content-left
{
	width: 50%;
}

.section3-content-right
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 50%;
	padding: 5%;
	height: 75%;
}

.section3-content-left img
{
	max-width: 90%;
	padding: 5%;
}

.section3-content-right button
{
	position: relative;
	background-color: white;
	padding: 11px 37px 11px 37px;
	border: none;
	font-size: .75em;
	color: blue;
	border: 1px solid blue;
	font-weight: bold;
	border-radius: 30px;
	align-self: flex-start;
}


.section3-container
{
	width: 100%;
	display: flex;
	border-top: 1px solid #f0ecec;
	height: 80vh;
	align-items: center;
	padding-top: 2%;
	padding-bottom: 2%;

}

.section3-grid
{
	width: 88%;
	display: grid;
	margin: auto;	
	position: relative;
	height: 80%;	
	align-items: center;		
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 50% 50%;
	grid-template-areas:
				"og gridimg ca"
				"dr gridimg 247"
	
}
	
.competitor-analysis
{
	grid-area: ca;
}

.detailed-reports
{
	grid-area: dr;
}


.247-support
{
	grid-area: 247;
}

.organic-growth
{
	grid-area: og;
}

.grid-img
{
	grid-area: gridimg;
	position: relative;
	height: 120%;
}

.organic-growth img
{
	width: 50px;
	padding-top: 10px;
}

.detailed-reports img
{
	width: 50px;
	padding-top: 10px;
}

.competitor-analysis img
{
	width: 50px;	
	padding-top: 10px;
}

.247-support img
{
	width: 50px;
	padding-top: 10px;
}

.section3-grid > div
{
	display: flex;
}

.imgsupport
{
	width: 50px;
	padding-top: 10px;
}

.section4
{
	background: blue;
	height: 110vh;
	width: 100%;
}

.section4-grid
{
	position: relative;
	display: grid;
	gap: 3%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 50% 50%;
	justify-content: center;
	height: 100%;
	justify-items: center;
	align-items: center;
	text-align: center;
	grid-template-areas: 
				"blank1 header4 blank2"
				"content41 content42 content43"
}

.section4-title
{
	grid-area: header4;
	
}

.Targetted-Advertising
{
	grid-area: content41;
}


.In-depth-analytics
{
	grid-area: content42;
}

.Social-Media-Optimization
{
	grid-area: content43;
}


.s4-grid-container
{
	width: 80%;
	margin: auto;
	height: 80%;
	color: white;
}

.section5
{
	width: 100%;
	height: 90vh;
	display: flex;
	align-item: center;	
}

.section5-container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	margin: auto;
	height: 75%;
}

.companies-strip-container
{
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F7F9FC;
	gap: 13%;
	
	
}
	
.companies-strip-container > img
{
	height: 30%;
}

.pricing-section
{
	width: 100%;
	height: 120vh;
}

.pr-sec-title
{
	width: 25%;
	text-align: center;
	margin: auto;
	padding-top: 70px;
	padding-bottom: 30px;
}

.price-boxes-container
{
	width: 86%;
	margin: auto;
	height: 80vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price-box
{
	height: 95%;
	width: 367px;
	filter: drop-shadow(0 0 10px #d3d3d3);
	background: white;

}

.box-title
{
	width: 100%;
	margin: auto;
	font-size: 1.1em;
	font-weight: strong;
	text-align: center;

}

.monthly-price
{
	position: relative;
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 0px;
	height: 15%;
	top: -18px;
	padding-bottom: 2%;
	
}

.price
{
	font-size: 2.8em;
	font-weight: bold;
}

.dollar-sign
{
	font-weight: 600;
}

.month
{
	font-weight: 600;
}

.feature
{
	display: flex;
	align-items: center;
	border-bottom: 1px solid #d3d3d3;
	width: 80%;
	padding-top: .8rem;
	padding-bottom: .8rem;
	margin: auto;
}


.feature img
{
	height: 1.5em;
	width: 1.5em;
	margin-right: .5rem;
}

.price-box2 .monthly-price
{
	color: blue;
}

.invalid
{
	opacity: .2;
}

.cta
{
	position: relative;
	top: 7%;
	background-color: white;
	padding: 11px 37px 11px 37px;
	border: 1px solid blue;
	font-size: .75em;
	color: blue;
	font-weight: bold;
	border-radius: 30px;
	margin: auto;
	width: 45%;
	display: block;
}

.gold
{
	background-color: blue;
	color: white;
}

.section7
{	
	height: 190vh;
}

.section7-header
{
	width: 35%;
	margin: auto;
	text-align: center;
	padding-top: 10vh;
	top: 6rem;
}

.section7-box-container
{
	width: 86%;
	height: 40vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.section7-box
{
	width: 31%;
	height: 55%;
	background-color: #f8f4fc;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.sec7-box-content
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	height: 80%;
	background: yellow;
	margin: 0px;
}

.sec7-box-content h4
{ 
	background: red;
}

.sec7-box-content p
{ 
	background: green;
}